#!/usr/bin/env bash

export hmynode="--node=https://api.s0.t.hmny.io"

# cookbook
cookbook() {
	hmy cookbook
}

# check balance for address. takes address as input
hmy-balance() {
	hmy --node=https://api.s0.t.hmny.io balaces $1
}

# send transaction
send-transaction() {
	hmy --node=https://api.s0.t.hmny.io transfer \
	--from $1 --to $2 \
	--from shard 0 --to-shard 0 --amount $3 --passphrase
}

# add a key. use passphrase flag to pass protect
add-keys() {
	hmy keys add --passphrase $1
}

# Show where hmy stores keys
key-location () {
	hmy keys location
}
